/* style October 17, 2023 */

body {
font-family: Arial, sans-serif;
background: #000;
color: #fff;
font-size: 125%;
}
a {
color: #87ceeb ;
}

small {
font-family: monospace;
font-weight: bold;
}

img {
max-height: auto;
max-width: 25%;
}
